  <nav class='navbar navbar-default'>
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Travelox', root_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li <% if current_page?(root_path) %>class="active"<% end %>><%= link_to 'Home', root_path %></li>
          <li <% if current_page?(about_path) %>class="active"<% end %>><%= link_to 'About', about_path %></li>
          <li class="dropdown">
            <a href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Destinations
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">North America</li>
              <li <% if current_page?(city_path(:sfo)) %>class="active"<% end %>><%= link_to 'San Francisco', city_path(:sfo) %></li>
              <li <% if current_page?(city_path(:nyc)) %>class="active"<% end %>><%= link_to 'New York CIty', city_path(:nyc) %></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Europe</li>
              <li <% if current_page?(city_path(:prg)) %>class="active"<% end %>><%= link_to 'Prague', city_path(:prg) %></li>
              <li <% if current_page?(city_path(:mxp)) %>class="active"<% end %>><%= link_to 'Milan', city_path(:mxp) %></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Asia</li>
              <li <% if current_page?(city_path(:nrt)) %>class="active"<% end %>><%= link_to 'Tokyo', city_path(:nrt) %></li>
            </ul>
          </li>
          <li <% if current_page?(photos_path) %>class="active"<% end %>><%= link_to 'Photos', photos_path %></li>
        </ul>
          <% unless signed_in? %>
          <div class="signed_out">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Sign up','#', id: 'signup' %></li>         
              <li><%= link_to 'Log in', '#', id: 'login' %></li>
            <ul>
          </div>
          <% else %>
          <div class="signed_in">
            <ul class="nav navbar-nav navbar-right">
              <li <% if current_page?(search_path) %>class="active"<% end %>><%= link_to 'Search', search_path %></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: 'delete', id: 'logout' %></li>
            </ul>
          </div>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>