
        <%= form_for(resource, as: resource_name, url: session_path(resource_name),
                               :html => {:id => "log_in_user"},
                               :format => :json,
                               :remote => true ) do |f| %>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
            </span>
            <%= f.email_field :email, autofocus: true, required: true, class: "form-control", placeholder:"Email" %>
          </div>
        
          <br>

          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
            <%= f.password_field :password, autocomplete: "off", required: true, class: "form-control", placeholder: "Password" %>
          </div>
      
          <% if devise_mapping.rememberable? -%>
          <div class="checkbox col-md-12" style="padding-left:1.5em;">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end -%>
        
          <div class="actions">
            <br>
            <%= f.submit "Log in", class: 'btn btn-success', id: 'login_btn' %>
          </div>
        <% end %>
