<% provide(:title, 'Search') %>
<div id="bg-illust">
	
</div>
<div class="container" id="page-wrapper">
	<div class="search">
		<h2>Search</h2>
		<p>Try putting the city you are departing from and your city of destination and find out all the ways to get there</p>
		<%= form_tag search_path, method: :get, id: 'search',
								   :format => :json,
	                               :remote => true do %>
			<%= label_tag :From %>
			<%= text_field_tag :start , '',:required => true %>
			<%= label_tag :Dest %>
			<%= text_field_tag :dest , '',:required => true %>
			<%= submit_tag "Search" %>
		<% end %>
		
	</div>

	<div class="routes"></div>
</div>